<div class="container">
	<header class="page-header">
  	<br>
  	<br>
    <h1>Let's get in touch!</h1>
  </header>
	<form id="contacto" name="contacto" action="enviar-contacto.php" method="POST" class="form-horizontal col-sm-offset-2" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="nombre">Name:</label>
				<div class="col-sm-6">
					<input name="nombre" type="text" class="form-control" id="nombre" placeholder="Full name">
				</div>
    		</div>

   			<div class="form-group">
				<label class="control-label col-sm-2" for="empresa">Company:</label>
				<div class="col-sm-6">
					<input name="empresa" type="text" class="form-control" id="empresa" placeholder="Company">
				</div>
    		</div>

    		<div class="form-group">
				<label class="control-label col-sm-2" for="mail">Mail:</label>
				<div class="col-sm-6">
					<input name="mail" type="email" class="form-control" id="mail" placeholder="Email">
				</div>
    		</div>

    		<div class="form-group">
				<label class="control-label col-sm-2" for="mensaje">Message:</label>
				<div class="col-sm-6">
					<input name="mensaje" type="text" class="form-control" id="mensaje" placeholder="Message">
				</div>
    		</div>


    		<div class="form-group">
		      <div class="col-sm-offset-2 col-sm-8">
		      	<input class="btn btn-default" type="submit" name="Enviar" value="Submit">
		        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
		      </div>
			</div>


<!-- 
		<input type="submit" name="Submit" value="Enviar"/> -->
		</form>

</div>