<div class="container">
  <header class="page-header">
  	<br>
  	<br>
    <h1>Projects</h1>
  </header>
  
<ul class="timeline">
	<li><div class="tldate img-rounded">2015-20</div></li>
	<li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>RMIngeniería
          	<a target="_blank" href="https://github.com/jgmurillo10/rmingenieriaV2"><i class="fa fa-github"></i></a>
          </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Dec, 2015</small></p>
        </div>
        <div class="tl-body">
          <p>Web page made for Colombian company.</p>
          <img src="img/rming.png" alt="pagina rmingenieria">
            
        </div>
      </div>
    </li>
    <li><div class="tldate img-rounded">2016-10</div></li>
    
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>My Vacations
          <span> <a target="_blank" href="https://github.com/isis2603-Backup/los-propios"><i class="fa fa-github 3x"></i></a></span></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Jan 20, 2016 - May 20, 2016</small></p>
          
        </div>
        <div class="tl-body">
          <p>My Vacations is a web application, to manage a list of itineraries, to plan your vacations in the best way, including events you will attend, better planning your time and stay in different cities given a suggestion box that provides the user with nearby events To stop sites..</p>
        </div>
      </div>
    </li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>Grupo Acera
          <span> <a target="_blank" href="https://github.com/jgmurillo10/grupo-acera"><i class="fa fa-github 3x"></i></a></span></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 15, 2016 - Jun 30, 2016</small></p>
          
        </div>
        <div class="tl-body">
          <p>Web page Colombian company</p>
          <img src="img/acera.png" alt="logo grupo acera">
        </div>
      </div>
    </li>
    <li><div class="tldate img-rounded">2016-20</div></li>
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>Gloop
          	<a target="_blank" href="https://github.com/jgmurillo10/gloop2"><i class="fa fa-github"></i></a>
          </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Nov 11-13, 2016</small></p>
        </div>
        <div class="tl-body">
          <p>Web application developed in 48h during the seventh edition of Javeriana GameJam. This application receives information from pH sensors, turbidity, salinity, among others to determine the potability of a water sample. The data was sent through NodeRed by HTTP requests and the application processed them. The graphical interface showed an authenticated user with Administrator role the visualization of the users who had sensors. In the repository of the project ./data/expogloop.pdf is planned the business model of the product from which the web application consumed the services.</p>
          <img src="img/gloop.png" alt="logo gloop">
            
        </div>
      </div>
    </li>
    
    <!-- <li><div class="tldate img-rounded">Mar 2014</div></li> -->
    
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>Well Col
          <a  target="_blank" href="https://github.com/jjcastro/well-col"><i class="fa fa-github"></i></a></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Jul, 2016 - Dec, 2016</small></p>
        </div>
        <div class="tl-body">
          <p>well-col is an application build using NodeJS to allow OilCol S.A (fake company) to receive data and store it from its sensors located at its multiple wells in Colombia. 
          </p>
		<p>Well-col es una aplicación realizada usando NodeJs para permitir a la empresa OilCol S.A (ficticia) recibir y almacenar información de 4 tipos de sensores localizados en varios pozos petroleros en Colombia.</p>
		<img src="img/well-col.png" alt="screen shot aplicacion en funcionamiento">
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>Angular Project
          <a  target="_blank" href=""><i class="fa fa-github"></i></a></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Dec, 2016 - Jan, 2017</small></p>
        </div>
        <div class="tl-body">
          <p>Web App ID maker</p>
        </div>
      </div>
    </li>
    
    <li><div class="tldate img-rounded">2017-10</div></li>
    <li>
      <div class="tl-circ"></div>
      <div class="timeline-panel">
        <div class="tl-heading">
          <h4>
          	Muringenieros
			
			<a href="https://github.com/jgmurillo10/muringenieros">
			<i class="fa fa-github"> 
			</i>
			</a>
          </h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Jan, 2016</small></p>
        </div>
        <div class="tl-body">
          <p>Web page made for Colombian company</p>
          
          <img src="img/muring.png" alt="logo muringenieros">
        </div>
      </div>
    </li>
    
  </ul>
 </div>