<div class="jumbotron text-center">
	<h1>Portfolio page</h1>
	<p>{{portfolio.message}}</p>


	<div class="row">
	  <div class="col-sm-4 col-md-4">
	    <div class="thumbnail">
	      <img src="../img/500x500.png" alt="grupoacera">
	      <div class="caption">
	        <h3><strong>Grupo Acera</strong></h3>
	        <p></p>
	        <p><a href="/portfolio/grupoacera" class="btn btn-default" role="button">Detalles</a> <a href="www.grupoacera.com" class="btn btn-default" role="button">Visitar</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-4">
	    <div class="thumbnail">
	      <img src="../img/500x500.png" alt="grupoacera">
	      <div class="caption">
	        <h3><strong>RM ING</strong></h3>
	        <p></p>
	        <p><a href="/portfolio/rming" class="btn btn-default" role="button">Detalles</a> <a href="www.rmingenieria.com.co" class="btn btn-default" role="button">Visitar</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4 col-md-4">
	    <div class="thumbnail">
	      <img src="../img/500x500.png" alt="grupoacera">
	      <div class="caption">
	        <h3><strong>My App</strong></h3>
	        <p></p>
	        <p><a href="/portfolio/myvacations" class="btn btn-default" role="button">Detalles</a> <a href="www.grupoacera.com" class="btn btn-default" role="button">Visitar</a></p>
	      </div>
	    </div>
	  </div>
	</div>







<!-- 

	<a href="/portfolio/myvacations"><button class="btn btn-default">MyVacations</button></a>
	<a href="/portfolio/grupoacera"><button class="btn btn-default">Grupo Acera</button></a>
	<a href="/portfolio/rming"><button class="btn btn-default">RM Ingenieria</button></a> -->

</div>