<div class="jumbotron text-center" ng-controller="portfolioController">
	<h1>Portfolio page</h1>
	<p>{{portfolio.message}}</p>

<div ui-view></div>

	<div class="row">
	 
	  <div class="col-sm-4 col-md-4" ng-repeat="product in products">
	    <div class="thumbnail">
	      <img src="{{product.thumbnail}}" alt="grupoacera">
	      <div class="caption">
	        <h3><strong>{{product.name}}</strong></h3>
	        <p></p>
	        <p><a ui-sref="{{product.state}}" class="btn btn-default" role="button">Detalles</a> <a target="_blank" href="{{product.webpage}}" class="btn btn-default" role="button">Visitar</a></p>
	      </div>
	    </div>
	  </div>
	  
	
	  </div>
	</div>







<!-- 

	<a href="/portfolio/myvacations"><button class="btn btn-default">MyVacations</button></a>
	<a href="/portfolio/grupoacera"><button class="btn btn-default">Grupo Acera</button></a>
	<a href="/portfolio/rming"><button class="btn btn-default">RM Ingenieria</button></a> -->

</div>